*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  
  
  li {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  
  }
  
  a:hover {
    color:   rgba(5, 32, 115, 100);
   
    
    
  }
  
  header {
    position: relative;
    padding: 0 2rem;
    backdrop-filter: blur(15px);
   
  
   
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size:1.5rem ;
    font-weight: bold;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .action_btn {
    background-color: rgba(6, 115, 154, 100);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  
  }
  
  .action_btn:hover {
    scale: 1.05;
    color: #fff;
  } 
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /*Dropdown menu*/
  
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    background-color: #000;
    opacity: 0.8;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 1px 1px 50px 0.1px black;
  
  }
  
  .dropdown_menu.open {
    height: 330px;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  
  /*Responsive nav*/
  
  @media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;  
    }
  
    .navbar .toggle_btn {
        display: block;
    }
  
    .dropdown_menu {
        display: block;
    } 
  
  
  }
  
  @media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
  }
  
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .brand{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    color: aliceblue;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}
header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: aliceblue;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;

}
header .navigation .navigation-items a:hover::before{
    width: 100%;
}
section{
    padding: 100px 200px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: green;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(91, 103, 115);
}
/*.home ::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(178, 214, 254,0.05 ) ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}*/
.home .content{
    z-index: 888;
    color: white;
    width: 100%;
    margin-top: 50px;
}
.home .content h1{
    font-size: 4em;
    font-weight: 900;
   
    letter-spacing: 2px;
    line-height: 75px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600px;
}
.home .content p{
    margin-bottom: 65px;
}
.home .content a{
    background: aliceblue;
    padding: 15px 35px;
    color:green ;
    font-size: 1.1em;
    font-weight: 500px;
    text-decoration: none;
    border-radius: 5px;
}
.home .content a:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 15px 3px rgba(5,85,92,0.2);
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
   
}
.home .media-icons a{
    color: aliceblue;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
video .backvid:hover{
    transform: scale(1.2);

} 

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: black ;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}
.card{
    width: 200px;
    height: 230px;
    display: grid;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 10px 15px;
    background-clip: url(s1.mp4);
    background-size: cover;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
p{
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
    font-size: 15px;
}



@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    .home .video{
        right: 15px;
    }
    header .navigation{
        
        display: none;
    }
    .menu-btn{
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
}
